body {
  display: flex;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}

#navbar {
  width: 300px;
  min-width: 290px;
  height: 100%;
  position: fixed;
  border-right: 2px solid rgba(0, 22, 22, 0.4);
  top: 0;
  left: 0;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 0;
  margin-bottom: 110px;
  padding: 20px;
}
#topic {
  margin: 10px;
  font-size: 1.8em;
  text-align: center;
}

#navbar ul {
  color: #4d4e53;
  padding: 0;
}
#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}
#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}
header {
  text-align: left;
  font-size: 1.8em;
  margin: 0;
}

p {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}

section > ul {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}

code {
  margin: 10px;
  padding: 15px;
  background-color: #f7f7f7;
  border-radius: 5px;
  display: block;
  line-height: 2;
  text-align: left;
}
section article > ul {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}
section li {
  margin: 15px 0px 0px 20px;
}
